/* Basic */

@font-face {
    font-family: "Gogh";
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: local("Gogh"), url('/fonts/Gogh-Regular.woff2') format('woff2');
}


@font-face {
    font-family: "Gogh";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: local("Gogh"), url('/fonts/Gogh-Medium.woff2') format('woff2');
}

@font-face {
    font-family: "Gogh";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: local("Gogh"), url('/fonts/Gogh-Bold.woff2') format('woff2');
}


body {
    font-family: "Gogh", sans-serif;
}

/* Styles */

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    background-color: #262626;
}

.header__top {
    display: flex;
    justify-content: space-between;
}

.logo {
    margin: 10px;
}

.h-40px {
    height: 40px;
}

.logo-img {}

.header__menu {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header__menu-list {}

.header__menu-list-item {
    margin: 0 16px;
}

.header__menu-link {
    color: #FFF;
    font-family: "Gogh";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
}

.fs {
    background-image: url('/img/background.svg');
    background-position: right;
    background-repeat: no-repeat;
    background-position-x: 800px;
    background-position-y: 163px;
}

.fs__hero {
    margin-top: 113px;
    margin-bottom: 113px;
}

.fs__hero-title {
    color: #262626;
    font-family: 'Gogh';
    font-size: 56px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
}

.title {
    font-size: 56px;
    text-decoration: underline 3px #EFB624;
    text-underline-offset: 8px;
}


.fs__hero-description {
    color: #262626;
    font-family: 'Gogh';
    font-size: 18px;
    font-style: normal;
    line-height: normal;
    margin-bottom: 64px;
    margin-top: 24px;
    max-width: 650px;
}

.text--10 {}

.fs__hero-button {}

.fs__hero-btn {
    background-color: #EFB624;
    border-radius: 100px;
    line-height: 22px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 16px;
    padding-bottom: 16px;
    color: #FFF;
    border: none;
    text-decoration: none;
}

.fs__about {
    padding-top: 100px;
    padding-bottom: 100px;
    background: #262626;
    background-image: url('/img/background.svg');
    background-position: right;
    background-repeat: no-repeat;
    background-position-x: 800px;
    background-position-y: -300px;
}

.fs__about-title {
    color: #FFF;
}

.fs__about-description {
    width: 690px;
    margin-top: 40px;
}

.text--10w {
    color: #FFF;
}

.features {
    padding-top: 80px;
    padding-bottom: 80px;
}

.features__title {}

.features__box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 40px;
    align-items: center;
    justify-content: space-around;
}

.features__box-item {
    border-radius: 8px;
    border: 1px solid #000;
    display: flex;
    flex-direction: row;
    width: 550px;
    padding: 14px;
    margin-top: 31px;
}

.features__box-item-desc {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
}

.features__box-item-img {
    display: flex;
    align-items: center;
    max-width: 120px;
    max-height: 120px;
}

.features__icon {
    max-width: 120px;
    max-height: 120px;
}

.features__box-item-title {
    color: #000;
    font-family: 'Gogh';
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.text--18 {}

.features__box-item-description {}

.services {
    background: #F2F2F2;
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: url('/img/services.svg');
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: center;
}

.services__title {}

.services__box {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.services__box-item {
    background: #fff;
    padding: 30px;
    width: 792px;
    margin-bottom: 30px;
}

.services__box-item-title {
    color: #262626;
    font-family: 'Gogh';
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 16px;
}

.text--16 {}

.services__box-item-misc {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 24px;
}

.underline {
    width: 200px;
}

.arrow {
    width: 36px;
    height: 18px;
}

.services__box-item-descripton {
    color: #000;
    font-family: 'Gogh';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 16px;
}

.text--8 {}

.contact {
    background: #262626;
    padding-top: 80px;
    padding-bottom: 80px;
}

.contact__title {
    color: #fff;
}

.contact__box {
    margin-top: 24px;
}

.contact__box-text {
    padding-top: 20px;
    padding-bottom: 20px;
    color: #FFF;
}

.footer {
    background: #262626;
    padding-bottom: 40px;
}

.footer-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.footer__menu {
    display: flex;
    flex-direction: row;
    color: #FFF;
}

.footer__menu-list {}

.footer__menu-list-item {
    padding-left: 28px;
}

.footer__menu-link {
    color: #FFF;
    text-decoration: none;
}

.footer__arrow {}

.f-arrow {
    width: 68px;
    height: 43px;
}